<html lang='en' style="scroll-behavior: smooth; color-scheme: dark;">
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/custom.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/button-events.js" defer></script>
    <title>Portfolio</title>
  </head>
  <body class="h-full bg-gray-900 text-gray-400 text-base md:text-xl">
    {{>navigation}}
    {{>hero}}
    {{>about}}
    {{>skills}}
    {{>experience jobs=jobs}}
    {{>portfolio}}
    {{!-- {{>contact}}
    {{>footer}}

    {{jobs}}
  </body> --}}
</html>