<section
  id='about'
  class='mx-auto max-w-7xl mx-12 px-4 mt-96 lg:mt-64 lg:px-16 xl:mt-64 pt-8 md:pt-32'
>
  <h1
    class='text-3xl tracking-tight font-extrabold text-gray-100 sm:text-3xl md:text-3xl heading'
  >
    O mne
  </h1>
  <div class='pt-8 pb-96 md:grid md:gap-16 md:grid-cols-5 xl:gap-32'>
    <div class='md:col-span-3 space-y-8'>
      <p>
        Volám sa Peter Kalanin a zaujímam sa o vývoj webových aplikácií a
        informačných systémov. Som absolvent FEI STU v Bratislave v odbore
        aplikovaná informatika s niekoľkoročnou pracovnou skúsenosťou vo vývoji
        softvéru a webových aplikácií.
      </p>
      <p>
        Môj záujem o vývoj webových aplikácií začal už v mladosti tvorbou
        jednoduchých webových stránok. Profesiónalne som sa tomu začal venovať
        až v roku 2016 keď som stal pri zrode
        <a
          href='https://www.minedu.sk/sithova-urobili-sme-prvy-krok-reformy-poradenskeho-systemu-spustame-novy-evidencny-system-evupp/'
          class='text-blue-300 hover:underline'
          target='_blank'
        >nového informačného systému EvuPP</a>
        .
      </p>
    </div>
    <div class='relative'>
      <div class='md:col-span-2 mt-12 md:mt-0'>
        <div class='w-64 h-64 rounded-full mx-auto md:mx-0 overflow-hidden'>
          <img class='' src='img/moja foto.jpg' alt='' />
        </div>
      </div>
      <div class='absolute top-0 left-0'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'>
          <defs>
            <radialGradient
              id='gradient1'
              cx='50%'
              cy='50%'
              r='50%'
              fx='80%'
              fy='80%'
            >
              <stop offset='0%' style='stop-color:#FF00FF;'></stop>
              <stop offset='100%' style='stop-color:#FFBD2E;'></stop>
            </radialGradient>
          </defs>

          <!-- top left circle -->
          <circle cx='40' cy='60' r='30' fill='url(#gradient1)'></circle>
        </svg>
      </div>
    </div>
  </div>

  <div class='pb-96'></div>
</section>