<section id='about' class='mx-auto max-w-7xl mx-12 px-4 pt-12'>
  <h1
    class='text-3xl tracking-tight font-extrabold text-gray-100 sm:text-3xl md:text-3xl heading'
  >
    O mne
  </h1>
  <div class='pt-8 pb-8 md:grid md:gap-16 md:grid-cols-5 xl:gap-32 md:ml-8'>
    <div class='md:col-span-3 space-y-4'>
      <p>
        Volám sa Peter Kalanin a zaujímam sa o vývoj webových aplikácií a
        informačných systémov. Som absolvent FEI STU v Bratislave v odbore
        aplikovaná informatika s niekoľkoročnou pracovnou skúsenosťou vo vývoji
        softvéru a webových aplikácií.
      </p>
      <p>
        Môj záujem o vývoj webových aplikácií začal už v mladosti tvorbou
        jednoduchých webových stránok. Profesiónalne som sa tomu začal venovať
        až v roku 2016 keď som stal pri zrode
        <a
          href='https://www.minedu.sk/sithova-urobili-sme-prvy-krok-reformy-poradenskeho-systemu-spustame-novy-evidencny-system-evupp/'
          class='text-blue-300 hover:underline'
          target='_blank'
        >nového informačného systému EvuPP</a>
        .
      </p>
      <p>
        Mám skúsenosti s nasledujúcimi techológiami:
      </p>
      <div class='flex gap-12 md:gap-16 lg:gap-24'>
        <ul class='text-base space-y-2'>
          <li class='relative pl-8'>
            JavaScript (ES6+)
          </li>
          <li class='relative pl-8'>
            TypeScript
          </li>
          <li class='relative pl-8'>
            Angular (2+)
          </li>
          <li class='relative pl-8'>
            Node.js
          </li>

        </ul>
        <ul class='text-base space-y-2'>
          <li class='relative pl-8'>
            HTML5
          </li>
          <li class='relative pl-8'>
            CSS3, Sass
          </li>
          <li class='relative pl-8'>
            Bootstrap
          </li>
          <li class='relative pl-8'>
            Tailwind
          </li>
        </ul>
      </div>
      <ul class='text-base'>
        <li class='relative pl-8'>Taktiež mám skúsenosti s C# (Asp.net), Java,
          PHP, Python</li>
      </ul>
    </div>

    <div class='md:col-span-2 mt-12 p-2 lg:mt-16 md:mt-0 z-10 image-group'>
      <div class='relative'>
        <div
          id='circle-1'
          class='absolute w-64 h-64 lg:w-80 lg:h-80 bottom-12 left-20 rounded-full border-4 border-blue-500'
        ></div>
        <div
          id='circle-2'
          class='absolute w-64 h-64 lg:w-80 lg:h-80 top-16 left-12 rounded-full bg-blue-900 border-8 border-gray-900'
        ></div>
        <div class='relative mx-auto md:mx-0'>
          <div
            id='circle-3'
            class='absolute w-64 h-64 lg:w-80 lg:h-80 top-0 left-0 border-8 border-gray-900 rounded-full bg-blue-600'
          >

          </div>
          <div
            id='image'
            class='w-64 h-64 lg:w-80 lg:h-80 rounded-full overflow-hidden border-8 border-gray-900'
          >
            <img class='' src='img/moja foto.jpg' alt='' />
          </div>
        </div>

      </div>

      {{! <div class='absolute top-0 left-0 w-64 h-64 group-hover:top-16'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'>
          <defs>
            <radialGradient
              id='gradient1'
              cx='50%'
              cy='50%'
              r='50%'
              fx='80%'
              fy='80%'
            >
              <stop offset='0%' style='stop-color:#93c5fd;'></stop>
              <stop offset='100%' style='stop-color:#6299d8;'></stop>
            </radialGradient>
          </defs>

          <!-- top left circle -->
          <circle cx='100' cy='100' r='100' fill='url(#gradient1)'></circle>
        </svg>
      </div> }}
    </div>
  </div>
</section>