<footer id='skills' class='bg-white overflow-hidden'>
  <div class="flex justify-center mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-16 lg:px-8 xl:mt-28 mb-12">
      <span>© Peter Kalanin</span>
  </div>
</div>