<footer id='skills' class='overflow-hidden'>
  <div class="flex flex-col text-sm md:text-base items-center mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-16 lg:px-8 xl:mt-28 mb-12">
      <a class="text-blue-300" href="https://github.com/peterkalanin/Portfolio" target="_blank">Dizajn a návrh - Peter Kalanin</a>
      <div class="text-sm text-gray-500">
        Inšpirované dizajnom 
        <a href="https://brittanychiang.com" target="_blank" rel="noopener noreferrer">brittanychiang.com</a>
      </div>
  </div>
</div>