<section
  class='mx-auto max-w-7xl px-4 mt-24 sm:mt-12 sm:px-6 md:mt-32 lg:mt-48 lg:px-8'
>
  <div class='sm:text-center lg:text-left space-y-4 lg:space-y-8'>
    <h1 class='text-5xl tracking-tight font-extrabold text-gray-50 md:text-8xl'>
      Peter Kalanin
    </h1>
    <h2
      class='text-3xl tracking-tight font-extrabold text-gray-400 md:text-6xl'
    >Web developer</h2>
    <p class='text-md xl:w-1/2'>
      Som softvérový inžinier a špecializujem sa na vývoj webových častí
      informačných systémov. Mám za sebou viac ako päťročnú skúsenosť vo vývoji
      systému používaneho denne stovkami používateľov.
    </p>
    <div class='pt-4 xl:pt-8'>
      <a
        href='/docs/kalanin_cv.pdf'
        target='blank'
        class='text-blue-300 hover:bg-gray-800 px-6 py-4 border border-blue-300 rounded-md text-lg font-medium'
      >
        Pozrite si môj životopis
      </a>
    </div>

  </div>
</section>