<section id='hero' class='mx-auto max-w-7xl px-4 pt-24 sm:px-6 lg:px-8 hero'>
  {{! space-y-6 lg:space-y-10 }}
  <div class='pt-32 sm:text-center lg:text-left flex flex-col gap-6 lg:gap-8'>
    <h1 class='text-5xl tracking-tight font-extrabold text-gray-50 md:text-8xl'>
      Peter Kalanin
    </h1>
    <h2
      class='text-3xl tracking-tight font-extrabold text-gray-400 md:text-6xl'
    >Web developer</h2>
    <p class='text-md xl:w-1/2'>
      {{i18n 'hero_MyBio'}}
    </p>
    <div class='pt-6 xl:pt-12'>
      <a
        href='/docs/kalanin_cv.pdf'
        target='blank'
        class='text-blue-300 hover:bg-gray-800 px-10 py-6 border border-blue-300 rounded-md text-xl font-medium'
      >
        {{i18n 'hero_CheckOutMyResume'}}
      </a>
    </div>

  </div>
</section>