<nav class='bg-gray-900 z-50 sticky top-0'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex items-center justify-between h-16 md:divide-x-2 md:divide-gray-700'>
      <div class='flex items-center'>
        <div class='hidden md:block'>
          <div class='ml-10 flex items-baseline space-x-4'>
            <a
              href='#about'
              class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
            >O mne</a>
            
            <a
              href='#skills'
              class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
            >Zručnosti</a>

            <a
              href='#portfolio'
              class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
            >Portfólio</a>

            <a
              href='#contact'
              class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
            >Kontakt</a>
          </div>
        </div>
      </div>
      <div class='flex items-right'>
        <div class='hidden md:block'>
          <div class='ml-10 flex items-baseline space-x-4'>
            <a
              href='/docs/kalanin_cv.pdf'
              target="blank"
              class='text-blue-300 hover:bg-gray-800 px-3 py-2 border border-blue-300 rounded-md text-sm font-medium'
            >Životopis</a>
          </div>
        </div>
      </div>
      <div class='-mr-2 flex md:hidden'>
        <!-- Mobile menu button -->
        <button
          type='button'
          id="mobile-menu-button"
          class='bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white'
          aria-controls='mobile-menu'
          aria-expanded='false'
        >
          <span class='sr-only'>Open main menu</span>
          <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
          <svg
            class='block h-6 w-6'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            aria-hidden='true'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M4 6h16M4 12h16M4 18h16'
            ></path>
          </svg>
          <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
          <svg
            class='hidden h-6 w-6'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            aria-hidden='true'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M6 18L18 6M6 6l12 12'
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class='hidden md:hidden bg-gray-800 ml-24' id='mobile-menu'>
    <div class='px-2 pt-6 pb-6 space-y-6 sm:px-3'>
      <a
        href='#about'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >O mne</a>

      <a
        href='#skills'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >Zručnosti</a>

      <a
        href='#portfolio'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >Portfólio</a>

      <a
        href='#contact'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >Kontakt</a>
  </div>
</nav>