<div id="portfolio" class='bg-white overflow-hidden'>
  <main
    class='mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28'
  >
    <div class='sm:text-center lg:text-left'>
      <h1
        class='text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl'
      >
        <span class='block xl:block'>Portfólio</span>
      </h1>

      {{! Project #1 }}
      {{>project 
        isToLeft=false
        label='Projekt #1'
        desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      }}

        {{! Project #2 }}
      {{>project 
        isToLeft=true
        label='Projekt #2'
        desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      }}
    </div>
  </main>
</div>