<div id='skills' class='bg-blue-100 overflow-hidden relative'>
  <main
    class='mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28'
  >
    <div class='sm:text-center lg:text-left'>
      <h1
        class='text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl'
      >
        <span class='block xl:block'>Zručnosti</span>

      </h1>
      <div class='grid grid-cols-2 md:grid-cols-4 gap-6 md:gap-12 mt-8 xl:mt-16'>
        {{>subpartials/skill_item label="Angular" desc="Angular v12, Typescript" ngIcon=true}}
        {{>subpartials/skill_item label="JavaScript" desc="Node.js, Express.js" jsIcon=true}}
        {{>subpartials/skill_item label="Databázy" desc="MySQL, Redis, MariaDb" dbIcon=true}}
        {{>subpartials/skill_item label="CSS" desc="Bulma, Tailwind, Bootstrap, SCSS" cssIcon=true}}
        <div>
      </div>
    </div>
  </main>
</div>