.dot-divider {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.dot-divider::after {
  content: '\00B7';
}

/* body {
  height: 100%;
  background-image: url('../svg/bg.svg');
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
} */

.heading::before {
  content: '#';
  color: rgb(147, 197, 253);
  font-size: 0.75em;
  display: inline;
  margin-right: 0.5em;
}

.heading::after {
  content: '';
  width: 300px;
  border-top: 1px solid rgb(55, 65, 81);
  display: inline-block;
  padding-bottom: 0.3em;
  margin-left: 0.5em;
}

li::before {
  display: inline-block;
  position: absolute;
  content: ' ';
  background-image: url('/img/li-symbol.svg');
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
  left: 0px;
  top: 5px;
}

.image-group #circle-1,
.image-group #circle-2 {
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.89, -0.37, 0.32, 1.56);
}

.image-group:hover #circle-1 {
  left: 2rem;
  bottom: 1.5rem;
}

.image-group:hover #circle-2 {
  left: 2.5rem;
  top: 1.5rem;
}

.image-group #circle-3 {
  z-index: 1;
  opacity: 0.2;
  transition: all 0.4s ease-in-out;
}

.image-group:hover #circle-3 {
  opacity: 0;
}

#hero {
  margin-top: -6rem;
  min-height: 100vh;
}

/* #image {
  filter: grayscale(80%);
}

.image-group:hover #image {
  filter: grayscale(0);
} */

svg {
  width: 2rem;
  height: 2rem;
}

/* .image-group #image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16rem;
  height: 16rem;
  background-color: rgb(147, 197, 253, 0.2);
  border-radius: ;
} */
